
# Cluster id. Default is master or even better - leave it unset
#cluster_id =

# Debug level - values are 0, 1, 2, 3. Default is 1.
#debug.level = 0

# MQTT details: host, port and timeout. Default values are already there.
# Max reconnection retries is maximum number of retries to reconnect with MQTT.
#mqtt.host = localhost
#mqtt.port = 1883
#mqtt.timeout = 60
#mqtt.max_reconnect_retries = 20

# Amount of time to wait before process is killed. Default is 1 second
#thread.kill.timeout = 1.0

# How often to check in a loop if agents have timed out (see following entry).
# Default is each second.
#agents.check.timeout = 1.0

# Amount of time in seconds before agent is killed if there wasn't
# a ping from agent's owner (other system that sent ageint in):
#agents.kill.timeout = 180

